<div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">New Complaint</h1>

    </div>
    <div>
    <%= render 'form', complaint: @complaint %>
    </div>
</div>

<%= link_to 'Back', complaints_path %>
